<!-- Singleton start-->
<!--<app-counter-one></app-counter-one>-->
<!--<app-counter-two></app-counter-two>-->
<!-- Singleton End-->


<!-- Builder start-->
<!--<app-user></app-user>-->
<!-- Builder End-->


<!-- Factory start-->
<!--<app-factory></app-factory>-->
<!-- Facade End-->


<!-- Decorator start-->
<!--<app-decorator></app-decorator>-->
<!-- Decorator End-->


<!-- Facade start-->
<!--<app-facade></app-facade>-->
<!-- Facade End-->


<!-- Observer start-->
<!--<app-event-one></app-event-one>-->
<!--<app-event-two></app-event-two>-->
<!-- Observer End-->
